/TicketingTests/bin
/Git/bin
/SSH/bin
/Ajax/bin
/SQLite/bin
/Emailing/bin
/TapoDevices/bin
/WebAbstract/bin
/DatabaseCore/bin
/Building/CSharp/bin
/Maths/.vs
/CoreTests/bin
/EnvironmentEnums/bin
/DependencyManagement/bin
/Building/CSharp/obj
/Git/obj
/SSH/obj
/Emailing/obj
/Ajax/obj
/CoreTests/obj
/Git/obj
/SQLite/obj
/EnvironmentEnums/obj
/TicketingTests/obj
/TapoDevices/obj
/DependencyManagement/obj
/WebAbstract/obj
/Maths/Maths/obj
/DatabaseCore/obj
/SmartHomeCore/obj
/BaseMessages/CSharp/obj
/BaseMessages/obj
/BasicEvents/CSharp/bin
/BasicEvents/CSharp/obj
/BasicEvents/obj
/Bluetooth/CSharp/bin
/Bluetooth/CSharp/obj
/CircuitAnalysis/CSharp/bin
/CircuitAnalysis/CSharp/obj
/Core/CSharp/bin
/Core/CSharp/obj
/Core/CSharp/Serialization/obj
/CoreNativeAndBackend/obj
/NativeAndroid/CSharp/obj
/Initialization/CSharp/obj
/DataMemberNamesClassBuilder/obj
/Shutdown/CSharp/obj
/Ticketing/CSharp/obj
/NativeIOS/CSharp/obj
/VirtualSockets/CSharp/obj
/Logging/CSharp/obj
/Fundamental/CSharp/obj
/Native/CSharp/obj
/JSON/CSharp/obj
/DataMemberNamesClassBuilder/bin
/Shutdown/CSharp/bin
/NativeIOS/CSharp/bin
/Logging/CSharp/bin
/Ticketing/CSharp/bin
/Native/CSharp/bin
/NativeAndroid/CSharp/bin
/VirtualSockets/CSharp/bin
/BaseMessages/CSharp/bin
/Initialization/CSharp/bin
Core/CSharp/Core.csproj.user
DataMemberNamesClassBuilder/DataMemberNamesClassBuilder.csproj.user
/CoreNativeAndBackend/bin
/JSON/CSharp/bin
/Fundamental/CSharp/bin
/DataMemberNamesClassBuilder/.vs
